
$bg-base: hsl(22,66%,94%);
$white-base: hsl(60,100%,100%);
$white-tint: hsl(0, 0%, 88%);
$white-highlight: hsl(0, 0%, 97%);
$text-base: hsl(345, 13%, 18%);
$primary-base: hsl(359, 100%, 89%);
$primary-tint: hsl(346, 100%, 77%);
$primary-highlight: hsl(349, 100%, 84%);
$accent-base: hsl(129, 60%, 85%);
$accent-tint: hsl(129, 22%, 54%);
$accent-highlight: hsl(130, 73%, 78%);

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;