@use '../../variables';
@use '../../typography';

@mixin variant($type) {

    @if $type == 'cta' {
        background-color: variables.$accent-base;
        border-color: variables.$accent-tint;

        &:hover {
            background-color: variables.$accent-highlight;
        }
    } @else if $type == 'primary' {
        background-color: variables.$primary-base;
        border-color: variables.$primary-tint;

        &:hover {
            background-color: variables.$primary-highlight;
        }
    } @else { // default 'white'
        background-color: variables.$white-base;
        border-color: variables.$white-tint;

        &:hover {
            background-color: variables.$white-highlight;
        }
    }
}

@mixin size($size) {
    padding: 0.25rem 0.75rem;
    border-radius: 0.75rem;

    @if $size == 'xs' {
        @include typography.text(xs);
    } @else if $size == 'sm' {
        @include typography.text(sm);
    } @else if $size == 'md' {
        @include typography.text(md);
    } @else if $size == 'lg' {
        @include typography.text(lg);
        padding: 0.25rem 1rem;
        border-radius: 1rem;
    } @else if $size == 'xl' {
        @include typography.text('lg');
        padding: 0.75rem 1.25rem;
        border-radius: 1.25rem;
    }
}

button
{
    cursor: default;
    
    &:hover
    {
        cursor: pointer;
    }
}

.button
{

    border-style: solid;
    border-width: 4px;

    &-icon
    {
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;

        & > svg
        {
            color: variables.$text-base;
        }
    }

    &-play-pause > svg
    {
        width: 48px;
        height: auto;
    }

    &__settings
    {
        width: 100%;
        height: 100%;

        @media screen and (min-width: variables.$breakpoint-md) {
            width: auto;
            height: auto;
        }
    }


    &__variant
    {
        &__white { @include variant('white'); }
        &__cta { @include variant('cta'); }
        &__primary { @include variant('primary'); }
    }

    &__size
    {
        &__xs
        {
            @include size('xs');
        }
        &__sm
        {
            @include size('sm');
        }
        &__md
        {
            @include size('md');
        }
        &__lg
        {
            @include size('lg');
        }
        &__xl
        {
            @include size('xl');
        }
    }
}
