@import '../../variables';

.button
{
    &__settings
    {
        border-radius: 100%;
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: $primary-base;
        border-color: $text-base;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__white
    {
        background-color: $white-base;
        border-color: $white-tint; 

        &:hover
        {
            background-color: $white-highlight;
        }
    }

    &__primary
    {
        background-color: $accent-base;
        border-color: $accent-tint;

        &:hover
        {
            background-color: $accent-highlight;
        }
    }
}
