@use '../../typography';
@use '../../variables';

.settings-field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    label
    {
        margin-bottom: 0.5rem;
    }

    input[type="number"]
    {
        max-height: 32px;
    }

    @media screen and (min-width: variables.$breakpoint-md) {
        label
        {
            @include typography.text('md');
        }
    }
}
