@use '../typography';
@use '../variables';

.timer__container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .timer__labels
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: variables.$accent-base;
        border: 4px solid variables.$text-base;
        padding: 2rem;
        margin-bottom: 2rem;
        width: 100vw;
        height: 300px;

        @media screen and (min-width: 300px)
        {
            max-width: 300px;
        }
    }

    & .timer__label {
        @include typography.text('xl');

        font-weight: 300;
        font-family: 'Cherry Swash', cursive;
        text-align: center;
        margin: 0 0 2rem 0;
    }

    & .timer__value {
        @include typography.text('2xl');

        font-weight: 400;
        font-family: 'Alexandria', cursive;
        text-align: center;
        margin: 0;
    }
}